.contact {

  &__logo {
    width: 100px;
    height: 100px;
    margin-right: 25px;
    float: left;
  }

  &__phone {
    margin-bottom: 10px;
    &::before {
      letter-spacing: 25px;
      content: $fa-var-phone-square;
      font-family: FontAwesome;
      font-size: 12px;
    }
  }

  &__mail {
    &::before {
    letter-spacing: 25px;
    content: $fa-var-envelope;
    font-family: FontAwesome;
    font-size: 12px;
    }
  }

  &__social {
    float: left;
    margin-left: 40px;
    margin-bottom: 0;
  }

  &__text {
    float: left;
    text-align: center;
  }

  &__tw {
    float: left;
    text-align: center;
    margin-top: 80px;
  }

  &__link-tw {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    color: $main-color;
    &:hover {
      color: $yellow;
    }
  }

  &__text {
    color: $yellow;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;

    a {
      color: $main-color;
    }
  }
}
